@{
    ViewBag.Title = "Home Page";
}


<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-body ">
                    <div class="jumbotron" style="background-color:transparent">
                        <h1>Sistema Foobar</h1>
                        <p class="lead">FooBar é um sistema que visa o controle de completo do gerencimento de sua universidade.</p>
                        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Saiba mais&raquo;</a></p>
                    </div>

                    <div class="row">
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>